<h1><%= 'Uporabniški račun' %></h1>

<%= form_with model: @seller_profile, url: update_account_seller_path(@seller_profile), method: :patch, html: { multipart: true } do |f| %>

  <!-- Full Name (Ime podjetja) -->
  <div>
    <%= f.label :full_name, "Ime podjetja" %>
    <%= f.text_field :full_name, required: true, placeholder: "Kronoterm" %>
  </div>

  <!-- Display Name (Kontaktna oseba) -->
  <div>
    <%= f.label :display_name, "Ime kontaktna oseba" %>
    <%= f.text_field :display_name, required: true, placeholder: "Janez Novak" %>
  </div>

  <!-- Profile Picture (Logotip podjetja) -->
  <div>
    <%= f.label :profile_picture, "Logotip podjetja" %>
    <% if @seller_profile.profile_picture.attached? %>
      <%= image_tag url_for(@seller_profile.profile_picture), alt: "Profile Picture", width: 150 %>
    <% else %>
      <p>No Profile Picture</p>
    <% end %>
    <%= f.file_field :profile_picture %>
  </div>

  <!-- Profile Description (Opis dejavnosti podjetja) -->
  <div>
    <%= f.label :description, "Opis dejavnosti podjetja" %>
    <%= f.text_area :description, required: true, placeholder: "Inštalacije, ogrevalni sistemi, ..." %>
  </div>

  <!-- Email Address -->
  <div>
    <%= f.label :email, "Email naslov" %>
    <%= f.email_field :email, required: true, placeholder: "ime@podjetje.si" %>
  </div>

  <!-- Save Profile Button -->
  <%= f.submit t('complete_seller_profile.save_profile'), class: 'btn-seller' %>

  <h2>Gigs (Posts):</h2>

  <!-- Add Create Gig Button -->
  <%= link_to 'Create New Gig', new_post_path, class: 'btn-create-gig' %>

<% end %>

<!-- Sign out form -->
<%= form_with url: destroy_user_session_path, method: :delete, class: "inline-form" do |form| %>
  <%= form.submit "Logout", class: "btn btn-danger" %>
<% end %>
