<h1>Profil podjetja</h1>

<%= form_for @seller_profile, url: create_seller_profile_path, html: { multipart: true } do |f| %>
  <div>
    <%= f.label :full_name, "Ime podjetja" %>
    <%= f.text_field :full_name, required: true, placeholder: "Kronoterm" %>
  </div>

  <div>
    <%= f.label :display_name, "Kontaktna oseba" %>
    <%= f.text_field :display_name, required: true, placeholder: "Janez Novak" %>
  </div>

  <div>
    <%= f.label :phone_number, "Telefonska številka" %>
    <div style="display: flex; gap: 10px;">
      <%= select_tag 'seller_profile[country_code]', options_for_select([['+386 (SI)', '+386'], ['+385 (HR)', '+385'], ['+44 (UK)', '+44']]), class: "form-select", required: true %>
      <%= f.text_field :phone_number, maxlength: 9, pattern: '\d{9}', placeholder: '40123456', class: "form-control", required: true %>
    </div>
  </div>

  <!-- Email Field -->
  <div>
    <%= f.label :email, "Email naslov" %>
    <%= f.email_field :email, required: true, placeholder: "ime@podjetje.si" %>
  </div>

  <div>
    <%= f.label :profile_picture, "Logotip podjetja" %>
    <%= f.file_field :profile_picture %>
  </div>

  <div>
    <%= f.label :description, "Opis dejavnosti podjetja" %>
    <%= f.text_area :description, required: true, placeholder: "Inštalacije, ogrevalni sistemi, ..." %>
  </div>

  <!-- CONTINUE button -->
  <%= f.submit "Nadaljuj", class: 'btn-seller' %>
<% end %>
