<h1><%= t('work_info.title') %></h1>

<%= form_for @seller_profile, url: occupation_step_seller_path(@seller_profile), method: :post do |f| %>
  <div>
    <%= f.label :occupation, t('work_info.occupation') %>
    <%= f.text_field :occupation, required: true %>
  </div>

  <div>
    <%= f.label :skills, t('work_info.skills') %>
    <%= f.text_field :skills, required: true %>
  </div>

  <div>
    <%= f.label :education, t('work_info.education') %>
    <%= f.text_field :education %>
  </div>

  <div>
    <%= f.label :certifications, t('work_info.certifications') %>
    <%= f.text_field :certifications %>
  </div>

  <%= f.submit t('work_info.continue'), class: 'btn-seller' %>
<% end %>
