<h1>Tell Us About Your Work</h1>

<%= form_for @seller_profile, url: occupation_step_seller_path(@seller_profile), method: :post do |f| %>
  <div>
    <%= f.label :occupation %>
    <%= f.text_field :occupation, required: true %>
  </div>

  <div>
    <%= f.label :skills %>
    <%= f.text_field :skills, required: true %>
  </div>

  <div>
    <%= f.label :education %>
    <%= f.text_field :education %>
  </div>

  <div>
    <%= f.label :certifications %>
    <%= f.text_field :certifications %>
  </div>

  <%= f.submit 'Continue', class: 'btn-seller' %>
<% end %>
