<h1><%= t('posts.new.title') %></h1> <!-- Translated title for "Create a New Post" -->

<%= form_with(model: @post, local: true, html: { multipart: true }) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, t('errors.count_errors')) %> <%= t('errors.prohibited_post') %></h2> <!-- Translated error message -->
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Post Fields -->
  <div class="field">
    <%= form.label :title, t('posts.new.title_label') %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, t('posts.new.content_label') %>
    <%= form.text_area :content %>
  </div>

  <!-- Image Field -->
  <div class="field">
    <%= form.label :image, t('posts.new.image_label') %> <!-- Image label -->
    <%= form.file_field :image %> <!-- File upload for image -->
  </div>

  <div class="actions">
    <%= form.submit t('posts.new.create_post') %> <!-- Translated submit button text -->
  </div>
<% end %>

<%= link_to t('posts.new.back_to_all_posts'), posts_path %> <!-- Translated link for "Back to all posts" -->
