<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || t('home.title', default: "Fiver Clone") %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- PWA Manifest -->
    <link rel="manifest" href="/manifest.json">
    
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Stylesheets -->
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <!-- Include application.js as a module -->
    <script type="module" src="<%= asset_path('application.js') %>"></script>

    <%= javascript_importmap_tags %> <!-- Ensure this is after the script inclusion -->
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- Navigation Bar -->
    <nav>
      <!-- Right side of the nav bar -->
      <div class="nav-right">
        <% if user_signed_in? %>
          <!-- If the user is logged in -->
          
          <!-- Show "Orders" button for all logged-in users -->
          <%= link_to "Orders", orders_path, class: "btn btn-success ml-2" %> <!-- Orders Button -->
          
          <% if current_user.seller_profile.present? %>
            <%= link_to "Account", account_seller_path(current_user.seller_profile), class: "btn btn-info" %>
            <%= link_to "Requests", requests_path, class: "btn btn-warning ml-2" %> <!-- Requests Button -->
          <% else %>
            <%= link_to "Create Seller Profile", new_seller_profile_path, class: "btn btn-warning" %>
          <% end %>

          <!-- Sign out form -->
          <%= form_with url: destroy_user_session_path, method: :delete, class: "inline-form" do |form| %>
            <%= form.submit "Logout", class: "btn btn-danger" %>
          <% end %>

        <% else %>
          <!-- If the user is not logged in -->
          <%= link_to t('home.login'), new_user_session_path, class: 'btn btn-primary' %>
          <%= link_to t('home.sign_up'), new_user_registration_path, class: 'btn btn-success' %>
        <% end %>
      </div>
    </nav>
    
    <!-- Main Content -->
    <%= yield %>
  </body>
</html>
